/* STARTSEITE FIXIERT – NICHT ÄNDERN */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #eee;
  text-align: center;

  background.img: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 20px;
  background: rgba(0,0,0,0.4);
}

.nav a {
  color: #f5c542;
  text-decoration: none;
  font-weight: bold;
}

.content {
  margin-top: 220px;
}

.beschreibung {
  color: #9be870;
  font-size: 22px;
  max-width: 900px;
  margin: 0 auto 30px auto;
}

.title {
  color: #f5c542;
  font-size: 72px;
  margin: 0;
}
